    <div class="my-4 text-gray-300 leading-relaxed"> You will need: 
      <ul class="ml-8 list-disc">
        <li>A server running docker - I like <a href="https://hetzner.cloud/?ref=LZhMl2MVGVFw">hetzner.com</a> [link gets you a free €20 credit].</li>
        <li>Your own domain - I use <a href="https://porkbun.com">porkbun.com</a> as they have great prices and a huge selection of TLD's.</li>
        <li>A <a href="https://dash.cloudflare.com/profile/api-tokens">Cloudflare API key</a></li>
        <li>SSH access to your server</li>
      </ul>
    </div>