<section class="max-w-5xl mx-auto px-6 -mt-12" aria-labelledby="install-heading" id="examples">
  <div class="bg-gray-800 rounded-xl shadow-2xl p-10 border border-gray-700">
    <h2 id="install-heading" class="text-3xl font-bold mb-6 text-gray-100">Example Configs</h2>

    <div class="my-4 text-gray-300 leading-relaxed">
      The labels below can be added to a container you want to proxy through traefik. This is what I use for another server running wg-easy.
    </div>

    <pre class="bg-black rounded-lg p-6 mb-6 overflow-x-auto pre-scrollable">
      <code class="text-green-400 font-mono text-xs">
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.wg-easy.rule=Host(`wg.example.com`)"
      - "traefik.http.services.wg-easy.loadbalancer.server.port=51821"
      </code>
    </pre>

   <div class="my-4 text-gray-300 leading-relaxed">
      You can also proxy services outside of Docker by creating files in the traefik/conf/ folder. This is an example for redirecting to my unraid server on my home network. The file is called unraid.yml
    </div>

    <pre class="bg-black rounded-lg p-6 mb-6 overflow-x-auto pre-scrollable">
      <code class="text-green-400 font-mono text-xs">
http:

  #####

  routers:
    unraid:
      rule: "Host(`unraid.example.com`)"
      service: unraid

  #####

  services:
    unraid:
      loadBalancer:
        servers:
          - url: "http://192.168.1.30:808"
      </code>
    </pre>

   <div class="my-4 text-gray-300 leading-relaxed">
      Or you can combine several services together. This is part of a file called hosts.yml :
    </div>

    <pre class="bg-black rounded-lg p-6 mb-6 overflow-x-auto pre-scrollable">
      <code class="text-green-400 font-mono text-xs">


http:

#####

  routers:
    HAS:
      rule: "Host(`home.example.com`)"
      service: home_assistant

    portainer:
      rule: "Host(`portainer.example.com`)"
      service: portainer

    beszel:
      rule: "Host(`beszel.example.com`)"
      service: beszel

#####

  services:
    home_assistant:
      loadBalancer:
        servers:
          - url: "http://192.168.1.5:8123"

    portainer:
      loadBalancer:
        servers:
          - url: "https://192.168.1.70:9443"

    beszel:
      loadBalancer:
        servers:
          - url: "http://192.168.1.153:8090"
      </code>
      </pre>

  </div>
</section>